
                    <div class="card" style="width: auto">
                            <div class="card-body">
                                <!-- Avatar -->
                                <div class="card-notice">
                                    <div class="card-avatar">
                                        <i class="{{question.icon}}"></i> 
                                    </div>

                                    <div class="card-title">
                                        <h6 class="card-title-title">{{ question.title }}</h6>
                                        <small class="card-text text-muted">Willy Bardales - {{question.createdAt}}</small>
                                    </div>
                                </div>
                                <!-- /Avatar -->

                                <div class="desc">
                                        <p class="card-subtitle mb-2">{{ question.description }}</p>
                                </div>
                                
                                </div>
                    </div>

